<div class="datumGroup">
    <dl class="datumList">
        <dt class="exp datumLabels">
            [% l('Rating:') %]
        </dt>
        <dd class="exp">
            [% rating_stars(entity) %]
        </dd>
    </dl>
</div>
[%- IF entity.rating_count -%]
    [% link_entity(entity, "ratings", l("Show user ratings")) %]
[%- END -%]
