.highlight:hover
.page table.tbl tr td:hover {
 background-color: #FFBA58!important;
}

.ajax-lookup {
 background:#FFF;
 border:1px solid #000;
}

.ajax-lookup .options {
 text-align:right;
 background:#F5F3EB;
 overflow:auto;
 padding:0.2em;
}

.ajax-lookup ul {
 margin:0;
 padding:0;
}

.ajax-lookup li {
 list-style-type:none;
 color:#000;
 text-decoration:none;
 border-bottom:1px dotted #ddd;
 padding:0.2em 0.5em;
}

.ajax-lookup li.hover {
 background:#736DAB;
 cursor:pointer;
 color:#FFF;
 text-decoration:none;
}

button.image-button img {
 vertical-align:middle;
}

button.image-button {
 background:none;
 border:0;
 margin:0;
 padding:0;
}

table.credits {
 width:100%;
 border-collapse:collapse;
 margin-top:0;
}

table.credits tr {
 border-bottom:1px solid #ddd;
}

table.credits th {
 text-align:left;
}

table.credits td,
table.credits th {
 padding:0.2em;
}

table.credits th.artist,
table.credits th.name {
 width:40%;
}

table.credits input.entity-selector {
 width:70%;
}

table.credits input {
 width:90%;
}

table.credits tr.add-new {
 border-bottom:none;
}

table.credits tr.add-new td {
 padding-top:1em;
}

table.credits tr.add-new input {
 width:50%;
 margin-left:1em;
}

.floatRight {
 float:right;
}

.js-fieldset {
 margin-top:1em;
}

.js-fieldset label {
 white-space:nowrap;
 text-align:left !important;
 clear:both;
}

.js-progress-text {
 padding-left:3em;
 padding-right:3em;
}

.js-progress-text span {
 float:left;
 padding-top:4px;
 padding-left:6px;
 font-weight:bolder;
}

.js-fullwidth {
 width:100%;
}

.js-sg-div {
 height:0;
 overflow:auto;
 border:1px solid #FB5;
 padding:5pt;
}

.js-tp-buttons {
 float:left;
 text-align:center;
 margin-left:5%;
 margin-right:5%;
}

.js-tp-options {
 float:left;
 text-align:center;
}

.js-tp-separator-text {
 vertical-align:top;
}

.es_error_hint {
 background:url(/static/images/header-bg-orangefade.gif);
 border:2px solid #F40;
 font-weight:700;
 z-index:1000;
 padding:10px;
}

.es_field_error {
 background:#fcc;
 border:2px solid red;
}

.es-gc-button {
 display:inline;
 position:absolute;
 right:2%;
 text-align:center;
}

.quickselectdiv,
div.overlabel-wrapper {
 display:inline;
 position:relative;
}

label.overlabel {
 color:#999;
}

label.overlabel-apply {
 color:#999;
 left:3px;
 padding-top:1pt;
 position:absolute;
 z-index:1;
}

.shiftSelect {
 position:absolute;
 right:106px;
 z-index:100;
}

/* Control buttons placed on the right side of the screen. */

.rightsidebutton {
 position:absolute;
 width: 6em; /* Without this, IE stretches the button to the full screen's width. */
 float:right;
 right:3px;
}

/* Side menu for editor. */

#editMenu,
#editMenuPullout {
 background-color:#FFBA58;
 border:1px solid #A1A1A1;
 color:#000;
 cursor:pointer;
 left:0;
 position:absolute;
 padding:0;
}

#editMenu {
 font-weight:700;
 width:0;
 padding:.3em;
}

#editMenuPullout {
 width:1em;
}

#editMenu div {
 margin-bottom:.25em;
}

#editMenuSubmit,
#editMenuControlsGC,
#editMenuControlsInline {
 padding-top:.5em;
 padding-bottom:.5em;
}

#editMenuControlsReveal,
#editMenuSubmit,
#editMenuControlsGC,
#editMenuControlsInline {
 background:#FFF;
 text-align:center;
}

#editMenu input {
 width:92%;
}

#editMenuControlsInline {
 display: none;
 margin-top:.3em;
}

#editMenuControlsInline input {
 margin-bottom:.2em;
 margin-top:.2em;
}

#editMenuControlsReveal input {
 margin-bottom:.1em;
 margin-top:.1em;
}

#editMenuPullout span {
 font-weight:bolder;
 font-size:160%;
 padding-right:.2em;
}

#editMenuSubmit {
 background:#8B0000;
}

#editMenuControlsReveal {
 margin-bottom:.3em;
 padding-top:.1em;
}

#editMsgBox {
 background:#524D80;
 margin-top:10px;
 margin-left:auto;
 margin-right:auto;
 width:80%;
 padding:1px;
}

#editMsg {
 background:#F0EFFC;
 color:#524D80;
 font-weight:bolder;
 height:3.5em;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 padding:5px;
}

#editHelpMsg {
 height:1em;
 margin-top:10px;
}

/* Tooltips used for heads up warnings. */
.bt-content {
  color: #000;
  line-height: normal;
  padding: 5px;
}

/* Help and heads-up display box. */
#wikiHelpInnerBox {
 padding: 2px;
 background: white;
}

#wikiHelp {
 height: 25em;
 padding: 6px 0 6px 6px;
 overflow-y: scroll;
 overflow-x: hidden;
 marginBottom: .3em;
}

#wikiHelpBox {
 background: #736DAB; 
 padding: 1px;
 margin: 1em 2px 2px 2px;
 display: none;
}

#wikiTitle {
 font-weight: bolder;
 margin: 6px;
}

#wikiHelpBox hr {
 border-color: #736DAB;
}

/* Help icons */

.helpIcon {
 background: url(/static/images/icon/q.blue.png) top left no-repeat;
 cursor: pointer;
 height: 12px;
 margin-right: .2em;
 vertical-align: middle;
 width: 12px;
}

.helpIcon:hover {
 background: url(/static/images/icon/q.orange.png) top left no-repeat;
}

/* Documentation window close button. */

.closeButton {
 background: url(/static/images/icon/close.grey.png) top left no-repeat;
 cursor: pointer;
 float: right;
 height: 16px;
 width: 16px;
}

.closeButton:hover {
 background: url(/static/images/icon/close.red.png) top left no-repeat;
}

/* Country flags in select lists. */

#select-edit-release-country optgroup.icon {
 background: transparent none no-repeat scroll left top;
 float: left;
 height: 16px;
 margin-left: 2px;
 vertical-align: middle;
 width: 16px;
}

#select-edit-release-country option {
 float: left;
 margin-bottom :6px;
 margin-top: -20px;
 padding-left: 21px;
 vertical-align: middle;
}

/* Track fields. */

table.tbl th.first {
 width: 5%!important;
}

table.tbl th.treleases {
 width: 10%!important;
}

table.tbl th.tartist,
table.tbl th.ttitle {
 width: 42%!important;
}

.trackposition input,
.trackdur input {
 text-align: center;
 width: 90%;
}

.trackname textarea,
.trackartist textarea {
 font-size: 110%;
 letter-spacing: 1px;
 overflow: hidden;
 padding: .2em;
 white-space: pre;
 width: 98%;
}

.trackdur span {
 padding-left: 1em;
}

.trackdur,
.trackname,
.trackposition {
 padding-top: .4em!important;
 vertical-align: top;
}

td.trackname textarea {
 border: 1px solid black;
}

/* Artist editor / selector */

.tartist table {
 border-spacing: 0;
 margin-bottom: 4px;
}

.ta-results {
  border-bottom: 1px solid #789;
  border-width: 1px;
}

.trackartist textarea {
 margin-bottom: 5px;
 padding-bottom: 5px;
 background: transparent;
 color: black;
 border: 0px;
}

tr.editartist td {
 background-color: white!important; 
}

tr.editartist td.artistlabel {
 border-left: 1px solid #789;
 padding: 8px 0 4px 8px!important;
 width: 69%;
}

tr.editartist td.joinerlabel {
 border-right: 1px solid #789;
 padding-top: 8px!important;
 width: 10%;
 text-align: center;
}

tr.editartist td.empty {
 border-left: 1px solid #789;
 padding-left: 8px!important;
}

tr.editartist td.joiner {
 border-right: 1px solid #789;
 padding; 0 8px 8px 0!important;
}

tr.editartist.btn td {
 border-right: 1px solid #789;
 border-left: 1px solid #789;
 border-bottom: 1px solid #789;
}

tr.editartist input.name {
 margin-right: 1em;
 width: 99%;
}

tr.editartist input.joiner {
 width: 80%;
 text-align:center;
}

tr.editartist input[type="button"] {
 margin-bottom: 4px;
 float:right;
}
