/* css from older versions of the UI; TODO: remove this when sure its not needed further.

.ajax-lookup {
 background:#FFF;
 border:1px solid #000;
}

.ajax-lookup .options {
 text-align:right;
 background:#F5F3EB;
 overflow:auto;
 padding:.2em;
}

.ajax-lookup ul {
 margin:0;
 padding:0;
}

.ajax-lookup li {
 list-style-type:none;
 color:#000;
 text-decoration:none;
 border-bottom:1px dotted #ddd;
 padding:.2em .5em;
}

.ajax-lookup li.hover {
 background:#736DAB;
 cursor:pointer;
 color:#FFF;
 text-decoration:none;
}

button.image-button img {
 vertical-align:middle;
}

button.image-button {
 background:none;
 border:0;
 margin:0;
 padding:0;
}

table.credits {
 width:100%;
 border-collapse:collapse;
 margin-top:0;
}

table.credits tr {
 border-bottom:1px solid #ddd;
}

table.credits th {
 text-align:left;
}

table.credits td,
table.credits th {
 padding:.2em;
}

table.credits th.artist,
table.credits th.name {
 width:40%;
}

table.credits input.entity-selector {
 width:70%;
}

table.credits input {
 width:90%;
}

table.credits tr.add-new {
 border-bottom:none;
}

table.credits tr.add-new td {
 padding-top:1em;
}

table.credits tr.add-new input {
 width:50%;
 margin-left:1em;
}

.floatRight {
 float:right;
}

.js-fieldset {
 margin-top:1em;
}

.js-fieldset label {
 white-space:nowrap;
 text-align:left !important;
 clear:both;
}

.js-progress-text {
 padding-left:3em;
 padding-right:3em;
}

.js-progress-text span {
 float:left;
 padding-top:4px;
 padding-left:6px;
 font-weight:bolder;
}

.js-fullwidth {
 width:100%;
}

.js-sg-div {
 height:0;
 overflow:auto;
 border:1px solid #FB5;
 padding:5pt;
}

.js-tp-buttons {
 float:left;
 text-align:center;
 margin-left:5%;
 margin-right:5%;
}

.js-tp-options {
 float:left;
 text-align:center;
}

.js-tp-separator-text {
 vertical-align:top;
}

.es_error_hint {
 background:url(/static/images/header-bg-orangefade.gif);
 border:2px solid #F40;
 font-weight:700;
 z-index:1000;
 padding:10px;
}

.es_field_error {
 background:#fcc;
 border:2px solid red;
}

.es-gc-button {
 display:inline;
 position:absolute;
 right:2%;
 text-align:center;
}

.quickselectdiv,
div.overlabel-wrapper {
 display:inline;
 position:relative;
}

label.overlabel {
 color:#999;
}

label.overlabel-apply {
 color:#999;
 left:3px;
 padding-top:1pt;
 position:absolute;
 z-index:1;
}

*/

/* Bump the icons column to sufficient width */
.page table.tbl th.icons {
 padding: 0.2em 2.4em 0.2em 0.4em!important;
}

.ui-accordion .ui-accordion-content {
 border-top:1px solid grey!important;
}

.mediumToggle {
 background: transparent url(/static/images/icon/arrow.down.png) no-repeat;
 height: 16px;
 width: 16px;
}

.mediumToggleClosed {
 background: transparent url(/static/images/icon/arrow.right.png) no-repeat!important;
 height: 16px;
 width: 16px;
}

.editable a {
 color: #000;
}

.hidden textarea,
.trackposition.hidden input,
.trackdur.hidden input {
 border: 0 solid #000000; 
 background-color: transparent;
}

.ta-results textarea {
 cursor: pointer;
}

/* Hide the bottom border line for edited, but not displayed, artists */

.notActive td.ta-results {
 border-bottom: 0 none!important;
}

.notActive td.ta-results textarea {
 cursor: pointer!important;
 height: 1em;
 letter-spacing: 0!important;
 margin-bottom: 0!important;
 padding-top: 0!important;
 padding-bottom: 0!important;
}

/* Class used to shift the country list - makeEditMenu function in the editor's js */

.shiftSelect {
 position:absolute;
 right:106px;
 z-index:100;
}

/* Control buttons placed on the right side of the screen. */

.rightsidebutton {
 position:absolute;
 width: 6em; /* Without this, IE stretches the button to the full screen's width. */
 float:right;
 right:3px;
}

/* Side accordion */

.ui-accordion .ui-accordion-content-active {
 margin-bottom:3px!important;
}

/* Guess Case menu */

#MenuGuessCase input,
#MenuGuessCase div,
#MenuGuessCase select {
display:block;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
}

#MenuGuessCase input {
 width: 75%;
}

#MenuGuessCase div {
 font-weight: bold;
}

#MenuGuessCase select {
 width: 90%;
}

/* Editing Tools menu */








#editMenu,
#editMenuPullout {
 background-color:#FFBA58;
 border:1px solid #A1A1A1;
 color:#000;
 cursor:pointer;
 left:0;
 position:absolute;
 padding:0;
}

#editMenu {
 font-weight:700;
 width:0;
 padding:.3em;
}

#editMenuPullout {
 width:1em;
}

#editMenu div {
 margin-bottom:.25em;
}

#editMenuSubmit,
#editMenuControlsGC,
#editMenuControlsInline {
 padding-top:.5em;
 padding-bottom:.5em;
}

#editMenuControlsReveal,
#editMenuSubmit,
#editMenuControlsGC,
#editMenuControlsInline {
 background:#FFF;
 text-align:center;
}

#editMenu input {
 width:92%;
}

#editMenuControlsInline {
 display: none;
 margin-top:.3em;
}

#editMenuControlsInline input {
 margin-bottom:.2em;
 margin-top:.2em;
}

#editMenuControlsReveal input {
 margin-bottom:.1em;
 margin-top:.1em;
}

#editMenuPullout span {
 font-weight:bolder;
 font-size:160%;
 padding-right:.2em;
}

#editMenuSubmit {
 background:#8B0000;
}

#editMenuControlsReveal {
 margin-bottom:.3em;
 padding-top:.1em;
}

#editMsgBox {
 margin-left:auto;
 margin-right:auto;
 width:99%;
 padding:1px;
}

#editMsg {
 background:#F0EFFC;
 color:#524D80;
 font-weight:bolder;
 margin-left:auto;
 margin-right:auto;
 text-align:center;
 padding:5px;
}

#editHelpMsg {
 height:1em;
 margin-top:1px;
}

/* Tooltips used for heads up warnings. */
.bt-content {
  color: #000;
  line-height: normal;
  padding: 5px;
}

/* Help and heads-up display box. */
#wikiHelpInnerBox {
 padding: 2px;
 background: #fff;
}

#wikiHelp {
 height: 25em;
 padding: 6px 0 6px 6px;
 overflow-y: scroll;
 overflow-x: hidden;
 marginBottom: .3em;
}

#wikiHelpBox {
 background: #736DAB; 
 padding: 1px;
 margin: 1em 2px 2px;
 display: none;
}

#wikiTitle {
 font-weight: bolder;
 margin: 6px;
}

#wikiHelpBox hr {
 border-color: #736DAB;
}

/* Help icons */

.helpIcon {
 cursor: pointer;
 height: 12px;
 margin-right: .2em;
 vertical-align: middle;
 width: 12px;
}

/* Documentation window close button. */

.closeButton {
 cursor: pointer;
 float: right;
 height: 16px;
 width: 16px;
}

/* Country flags in select lists. */

#select-edit-release-country optgroup.icon {
 background: transparent none no-repeat scroll left top;
 float: left;
 height: 16px;
 margin-left: 2px;
 vertical-align: middle;
 width: 16px;
}

#select-edit-release-country option {
 float: left;
 margin-bottom :6px;
 margin-top: -20px;
 padding-left: 21px;
 vertical-align: middle;
}

/* Track fields. */

table.tbl th.first {
 text-align: center!important;
 width: 3%!important;
}

table.tbl th.treleases {
 width: 10%!important;
}

table.tbl th.tartist,
table.tbl th.ttitle,
table.tbl td.trackartist,
table.tbl td.trackname {
 width: 42%!important;
}

.trackposition input,
.trackdur input {
 text-align: center;
 width: 90%;
}

.trackname textarea,
.trackartist textarea {
 font-size: 110%;
 letter-spacing: 1px;
 overflow: hidden;
 padding: .2em;
 white-space: pre;
}

.trackname textarea {
 width: 97%;
}

.trackartist textarea {
 width: 90%;
}

.trackdur span {
 padding-right: 1.5em;
}

.trackdur,
.trackname,
.trackposition {
 padding-top: .4em!important;
 vertical-align: top;
}

.trackdur {
 text-align: right;
}

/* Artist editor / selector */

.trackposition {
 padding-left: .6em!important;
}

.tartist table {
 border-spacing: 0;
}

.ta-results {
  border-bottom: 1px solid #789;
  border-width: 1px;
}

.trackartist textarea {
 margin-bottom: 5px;
 padding-bottom: 5px;
 background: transparent;
 color: #000;
 border: 0;
}

tr.editartist td {
 background-color: white!important; 
}

tr.editartist td.artistlabel {
 border-left: 1px solid #789;
 padding: 8px 0 4px 8px!important;
 width: 69%;
}

tr.editartist td.joinerlabel {
 border-right: 1px solid #789;
 padding-top: 8px!important;
 width: 10%;
 text-align: center;
}

tr.editartist td.empty {
 border-left: 1px solid #789;
}

tr.editartist td.joiner {
 border-right: 1px solid #789;
 padding; 0 8px 8px 0!important;
}

tr.editartist.btn td {
 border-right: 1px solid #789;
 border-left: 1px solid #789;
 border-bottom: 1px solid #789;
}

tr.editartist input.name {
 float: right;
 width: 90%;
}

tr.editartist input.joiner {
 width: 80%;
 text-align:center;
}

tr.editartist input[type="button"] {
 margin-bottom: 4px;
 float:right;
}

.removeArtist {
 cursor: pointer;
 float: left;
 height: 16px;
 padding-right: 3px;
 margin-top: 4px;
 width: 5%!important;
}

/* Remove track */

.removeTrack {
 cursor:pointer;
 height: 16px;
 width: 16px;
 float: left;
 top: 2px;
}

/* Track position mover */

.upDown:hover {
 background-color: #FFBA58!important;
}

#removedTracks tr {
 background-color: #E9A!important;
}

.toolbox {
 cursor: n-resize;
}

.handleIcon {
 height: 14px;
 width: 12px;
 float: left;
 top: 2px;
}

/* Artist copier */

.copyArtist {
 cursor: crosshair;
 height: 16px;
 float: left;
 width: 18px;
}

/* Annotation fieldset */
.annotationFS {
 margin-top: 1em;
}

/* Annotation markup switcher */
#ChangeMarkup {
 display: inline-block;
 margin: 0;
 padding: 0;
}

#ChangeMarkup li {
 display: inline;
 list-style-type: none;
 margin: 0 10px 0 0;
 padding: 0;
}

#ChangeMarkup li a {
 font-variant: small-caps;
}

#ChangeMarkup .currentSet {
 font-weight: bolder;
}

#ChangeMarkup .currentSet a {
 color: #FF8A38 !important;
}

/* Icons */

.characters,
.editor a,
.helpIcon,
.markItUpResizeHandle,
.preview,
.symbols,
.undo,
.closeButton,
tr:hover .copyArtist,
tr:hover .handleIcon,
tr:hover .removeArtist,
tr:hover .removeTrack {
 background: transparent url(/static/images/icon/editor.png) no-repeat;
}

/* Icon: X (gray) */
.closeButton,
.removeArtist,
tr:hover .removeTrack { 
 background-position: 0 -198px;
}

/* Icon: X (red) */
tr .closeButton:hover,
tr .removeArtist:hover,
tr .removeTrack:hover {
 background-position: 0 -264px;
}

/* Icon: Up-down (blue) */
tr .handleIcon:hover {
 background-position: 0 -1764px!important;
}

/* Icon: Up-down (gray) */
tr:hover .handleIcon {
 background-position: 0 -1828px;
}

/* Icon: Person (color) */
tr .copyArtist:hover {
 background-position: 0 -1310px!important;
}

/* Icon: Person (gray) */
tr:hover .copyArtist {
 background-position: 0 -1376px;
}

/* Icon: question mark (blue) */
.helpIcon {
 background-position: 0 -1508px;
}

/* Icon: question mark (orange) */
.helpIcon:hover {
 background-position: 0 -1570px;
}

/* Icon: tools 24x24 */
.toolsHead {
 background: transparent url(/static/images/icon/tools24.png) no-repeat;
 height: 24px;
 width: 30px; /* For each icon added to the toolbar, add 15px to this value. */
}

.toolsHeadGrey {
 background: transparent url(/static/images/icon/tools24.grey.png) no-repeat!important;
 height: 24px;
 width: 30px; /* For each icon added to the toolbar, add 15px to this value. */
}

/* Icons: HTML / Wiki */
.editor.strong a {
 background-position: 0 -66px;
}

.editor.a a {
 background-position: 0 -1892px;
}

.editor.em a {
 background-position: 0 -980px;
}

.editor.h1 a {
 background-position: 0 -462px;
}

.editor.h2 a {
 background-position: 0 -528px;
}

.editor.h3 a {
 background-position: 0 -594px;
}

.editor.h4 a {
 background-position: 0 -660px;
}

.editor.h5 a {
 background-position: 0 -726px;
}

.editor.h6 a {
 background-position: 0 -792px;
}

.editor.hr a {
 background-position: 0 -914px;
}

.editor.p a {
 background-position: 0 -1244px;
}

.editor.precode a {
 background-position: 0 -330px;
}

.editor.ul a {
 background-position: 0 -1046px;
}

.editor.ol a {
 background-position: 0 -1178px;
}

.editor.li a {
 background-position: 0 -1112px;
}

.preview {
 background-position: 0 -1442px;
}

.characters {
 background-position: 0 -132px;
}

.symbols {
 background-position: 0 -1632px;
}

.undo {
 background-position: 0 0;
}

.markItUpResizeHandle {
 background-position: 0 -858px;
}

/* Annotation and edit note textareas */

#annotation,
#edit-releaseedit_note {
 width: 98.5%;
}

/* Annotation editor character and symbol drop-down menus */

.characters ul {
 padding:1px;
 width: 39.5em;
}

.symbols ul {
 padding:1px;
 width: 16.5em;
}

.markItUpHeader ul ul li {
 font-family: monospace;
}

.skip-2 {
 padding-left: 3em!important;
}

.skip1 {
 padding-right: 1.5em!important;
}

.skip2 {
 padding-right: 3em!important;
}

.skip3 {
 padding-right: 4.5em!important;
}

.skip4 {
 padding-right: 6em!important;
}

.skip5 {
 padding-right: 7.5em!important;
}

.skip6 {
 padding-right: 9em!important;
}

.skip16 {
 padding-right: 24em!important;
}

/* Other icons in editor.png
.file  0 -396px;
.trash  0 -1698px;
*/
