<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
[%- IF c.req.user_agent.search('MSIE') -%]
    [%- browserIsIE=1 -%]
[%- END -%]
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="expires" content="1" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>[% title %][% " - " IF title %]MusicBrainz.org</title>
        <link rel="stylesheet" type="text/css" href="/static/main.css" />
        <link rel="stylesheet" type="text/css" href="/static/styles/extra/scripts.css" />
        [% extra_js = extra_js _ ' ' _ scripts_js %]
        [% extra_css = extra_css _ ' ' _ scripts_css %]
        [%- page = {
                css = extra_css.split('\s+'),
                js  = [
                    'jquery/jquery.jquery.js',
                    'global.js',
                ],
            };
            FOR extra IN extra_js.split('\s+'); page.js.push(extra); END -%]
        [%- FOREACH css IN page.css %]
            <link rel="stylesheet" type="text/css" href="/static/styles/extra/[% css %]" />
        [%- END %]
        <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Artist") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_artist.xml') %]" />
        <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Label") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_label.xml') %]" />
        <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Release") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_release.xml') %]" />
        <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Track") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_track.xml') %]" />
    </head>
    <body>
        <div id="header">
            <div id="header-inner">
                <div id="header-logo">
                    <a href="/" class="logo" title="MusicBrainz">
                        <strong>
                            MusicBrainz
                        </strong>
                    </a>
                    <div>
                        [%- USE sidebar = FormRenderer(sidebar_search) -%]
                        <form action="[% c.uri_for('/search') %]" method="get">
                            <fieldset>
                                [%- sidebar.select('type') %] [% sidebar.text('query') -%]
                                <input type="hidden" name="direct" value="on" />
                                <input type="submit" value="Search" />
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div id="header-menu">
                    <div class="inner">
                        <div>
                            <ul>
                                [%- IF c.user_exists -%]
                                <li>
                                    [% link_editor(c.user) %]
                                </li>
                                <li>
                                    <a href="[% c.uri_for_action('/user/logout') %]">
                                        Log out
                                    </a>
                                </li>
                                [%- ELSE -%]
                                <li>
                                    [% request_login() %]
                                </li>
                                <li>
                                    <a href="[% c.uri_for_action('/user/register') %]">
                                        Create account
                                    </a>
                                </li>
                                [%- END -%]
                            </ul>
                        </div>
                        [%- INCLUDE "layout/menu.tt" -%]
                    </div>
                </div>
            </div>
        </div>
        <div class="page[% IF full_width %] fullwidth[% END %]"><div class="tl"><div class="bl">[% IF !full_width %]<div class="bg">[%  END %]<div class="tr"><div class="br">

        [%- content -%]

        </div></div></div>[% IF !full_width %]</div>[%  END %]</div></div>

        <p id="footer">
            <a href="http://metabrainz.org/donate">Donate</a> |
            <a href="http://cafepress.com/musicbrainz">Stuff to Buy</a> |
            <a href="http://blog.musicbrainz.org">Blog</a> |
            <a href="http://wiki.musicbrainz.org/">Wiki</a> |
            <a href="http://forums.musicbrainz.org/">Forums</a> |
            <a href="http://musicbrainz.org/bugs">Bug Tracker</a> |
            <a href="http://musicbrainz.org/doc/License">License</a> |
            <a href="http://musicbrainz.org/doc/Contact_Us">Contact</a>
        </p>
        [%- IF edit -%]
            <script type="text/javascript" src="/MBarrays.js"></script>
        [%- END -%]
        [%- FOREACH js IN page.js %]
            <script type="text/javascript" src="/static/scripts/[% js %]"></script>
        [%- END %]
        [%- IF browserIsIE -%]
            <script type="text/javascript">
                $(function () {
                    [%#- IE ignores quote tags.  This fixes that. -%]
                    $("q").prepend("&#8220;").append("&#8221;");
                });
            </script>
        [%- END -%]
        [%#- The next two scripts make IE lower than IE8 handle css in a much more standards-compliant manner. -%]
        [%#- As an additional benefit, they also make IE as low as IE5 semi-able to handle alpha-transparency in png files. -%]
        [%- IF browserIsIE -%]
        <!--[if lt IE 7]><script src="/static/scripts/IE7.js" type="text/javascript"></script><![endif]-->
        <!--[if lt IE 8]><script src="/static/scripts/IE8.js" type="text/javascript"></script><![endif]-->
        [%- END -%]
        [%- IF trackData.defined -%]
            <script type="text/javascript">
                $(function(){[%- trackData -%]});
            </script>
        [%- END -%]
    </body>
</html>
