[% extra_js = 'jquery.lookup.js jquery.artistcredits.js jquery.glow.js jquery.toggle.js jquery.undo.js' %]

[%- WRAPPER 'layout.tt' -%]
    <h2>[% l('Edit Release') %]</h2>

    <form action="[% c.req.uri %]" method="post">
        [% USE r = FormRenderer(form) %]
        [% INCLUDE 'release/sidebar.tt' editing=1 %]

        <div class="content">
            [%- INCLUDE 'forms/edit-note.tt' -%]
            [% form_submit(l('Edit')) %]
        </div>
    </form>
[%- END -%]
